


<div class="row">
  <div class="col-sm-6">
    <h1>Customercategories</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_customercategory_path, class: 'btn btn-primary' do %>
    Add New Customercategory
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table id = "example" class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Type</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @customercategories.each do |customercategory| %>
        <%= content_tag :tr, id: dom_id(customercategory), class: dom_class(customercategory) do %>
          

                      <td><%= customercategory.type %></td>
          
          
            <td><%= link_to 'Show', customercategory %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
