


<div class="row">
  <div class="col-sm-6">
    <h1>Productcategories</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_productcategory_path, class: 'btn btn-primary' do %>
    Add New Productcategory
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            
      </tr>
    </thead>

    <tbody>
      <% @productcategories.each do |productcategory| %>
        <%= content_tag :tr, id: dom_id(productcategory), class: dom_class(productcategory) do %>
          
            <td><%= link_to productcategory.name, productcategory %></td>
          

          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
