<div class="page-header">
  <%= link_to documents_path, class: 'btn btn-default' do %>
    All Documents
  <% end %>
  <%= link_to edit_document_path(@document), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show document</h1>
</div>

<dl class="dl-horizontal">
  <dt>Description:</dt>
  <dd><%= @document.description %></dd>

  <dt>Incominginvoice:</dt>
  <dd><%= @document.incominginvoice %></dd>

</dl>
